.header {
    margin: 0 4%;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerLeft,
.headerRight {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fullscreen {
    display: flex;
    justify-content: space-between;
}

.movies:hover, 
.tvshows:hover {
    color: #cbd5e1;
}

.mobilescreen {
    display: none;
}

p {
    font-size: 1.3rem;
}

a>span {
    margin: 0 20px;
    font-size: 1.3rem;
    cursor: pointer;
    color: black;
}

a>span:hover {
    color: green;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .header {
        margin: 0 8.5%;
    }
}

@media (max-width: 480px) {
    .fullscreen {
        display: none;
    }

    .mobilescreen {
        display: inline;
    }
}